<h2>New</h2>

<%= simple_form_for @flat do |f| %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :bathroom %>
  <%= f.input :bedroom %>
  <%= f.input :departure_time %>
  <%= f.input :tv_wifi %>
  <%= f.input :washing_machine %>
  <%= f.input :wheelchair %>
  <%= f.input :swimming_pool %>
  <%= f.submit %>
<% end %>
