<% content_for :navbar_classes do %>
  navbar-transparent navbar-wagon-fixed
<% end %>

<div class="banner" style="background: linear-gradient(-225deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.6) 45%, rgba(0,0,0,0.3) 55%, rgba(0,0,0,0.0) 70%), url('<%= image_url "airstream.png" %>');">
  <div class="banner-content">
    <h1>Stay Elsewhere</h1>
    <p>Welcome to Railsbnb.</p>
    <%= render 'shared/search' %>
  </div>
</div>

<div class="text-centered">
</div>

<div class="wrapper">
  <div class="row">
    <div class="col-xs-12 title"><h2>Great Life Stories Start here</h2></div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.graydonkey.com/img/cool/as-the-old-song-says-heaven-is-a-place-on-earth/as-the-old-song-says-heaven-is-a-place-on-earth01.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Sofisticated Viking</h2>
          <p>Live life at its best</p>
        </div>
        <%= cl_image_tag User.all[0].picture.path, size: "50x50", class: "card-user avatar" %>
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.aseascape.com/images/tents_223.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Magical Goa</h2>
          <p>Angelina and Brad's Fisherman's house</p>
        </div>
        <%= cl_image_tag User.all[1].picture.path, size: "50x50", class: "card-user avatar" %>
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.aseascape.com/images/pan3b.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Enchanting Retreat</h2>
          <p>Live like Robinson Crusoe</p>
        </div>
        <%= cl_image_tag User.all[2].picture.path, size: "50x50", class: "card-user avatar" %>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

  </div>
</div>

