<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for? :title %>
        <%= yield :title %> - RailsBNB
      <% else %>
        RailsBNB
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="site">
    <% if flash[:notice] || flash[:alert] %>
      <%= render "shared/navbar", locals: nil %>
    <% else %>
      <%= render "shared/navbar", locals: {class: yield(:navbar_classes)} %>
    <% end %>
    <% if flash[:notice] -%>
      <p class="alert alert-info pullDown"><%= notice %></p>
    <% end %>
    <% if flash[:alert] -%>
      <p class="alert alert-warning pullDown"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <% if content_for? :js %>
      <%= yield :js %>
    <% end %>
  </body>
</html>
